<div class="main-menu">
    <nav>
        <ul id="navigation">
            <li><a href="">Home</a></li>
            <li><a href="">Categories</a>
                <ul class="submenu">
                    <li><a href="">Men</a></li>
                    <li><a href="">Women</a></li>
                    <li><a href="">Children</a></li>
                    <li><a href="">Ethnic</a></li>
                    <li><a href="">Winter</a></li>
                </ul>
            </li>
            <li><a href="">Latest</a>
                <ul class="submenu">
                    <li><a href="">Product List</a></li>
                    <li><a href="">Product details</a></li>
                </ul>
            </li>
            <li><a href="">Blog</a></li>
            <li><a href="">Pages</a>
            </li>
            <li><a href="">Contact</a></li>
        </ul>
    </nav>
</div>
