<div>
    <div class="footer-line"></div>
<div>
    
</div>
    <div class="footer-bottom d-flex justify-content-between">

        <h5>Copyright &#169; 2022 inc. All rights reserved</h5>

        <div class="d-flex payment-op">
            <img src="../../assets/images/Image 38.png" alt="" >
            <img src="../../assets/images/Image 39.png" alt="">
            <img src="../../assets/images/Image 40.png" alt="">
            <img src="../../assets/images/Image 42.png" alt="">
            <img src="../../assets/images/Image 43.png" alt="">
        </div>
        <div class="scroll-up-arrow">
            <a href="home" id="scrollup" >
                <i class="fa fa-arrow-circle-up" aria-hidden="true"></i>
              </a>

        </div>
        
    </div>
</div>
